<div class="row">
    <div class="col-xs-12">
        Gerado às <em>@DateTime.Now.ToLongTimeString()</em>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <h3>Exemplo</h3>
    </div>
    <div class="col-sm-4">
        <h3>De como</h3>
    </div>
    <div class="col-sm-4">
        <h3>Pode ficar</h3>
    </div>
</div>