<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <strong>MARCA: ABC</strong>
            <strong>TESTE: R$225,00</strong>
            <div class="pull-right">
                <button type="button" class="btn btn-sm btn-primary load-group-data" 
                        data-target="#collapseOne" data-toggle="collapse"
                        data-loading-text="Aguarde..."
                        data->
                    <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" data-marca="ABC">
            <div class="panel-body">
                @* CONTEÚDO DO GRUPO *@
                WAIT...
            </div>
        </div>
    </div>
</div>