<div class="panel-group" id="accordion">
    <div class="panel panel-default" id="panel1">
        <div class="panel-heading">
            <strong>MARCA: ABC</strong>
            <strong>TESTE: R$225,00</strong>
            <div class="pull-right">
                <a class="load-group-data" data-target="#collapseOne" data-toggle="collapse" href="#collapseOne" title="Clique para exibir dados do grupo">
                    <i class="glyphicon glyphicon-plus-sign"></i> Expandir
                </a>
            </div>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                @* CONTEÚDO DO GRUPO *@
            </div>
        </div>
    </div>
</div>